<!DOCTYPE html>
<html>
  <head>
    <title>N'Osairis Challenge</title>
    <script
      src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"
      integrity="sha256-lISRn4x2bHaafBiAb0H5C7mqJli7N0SH+vrapxjIz3k="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    {% include 'navbar.html'%} {% block content %}{% endblock content %}
  </body>
</html>
